<!DOCTYPE html>
<html>
<head>
    <title>Credit Card Form</title> 
</head>
<body>
    <header>
        <h1>Payment Form</h1>
    </header>
    <div class="tab">
        <br>
        <br>        
        <button class="counterBtn" routerLink="/creditcard">Credit Card</button>
        <br/>
        <br/>
        <button class="counterBtn" routerLink="/otherPayment">Other Payment</button>
    </div>
   
    <!-- <div class="content">       
            <div *ngIf="selectedTab === 'creditCard'">
            </div>
        
    </div>
    <div *ngIf="selectedTab === 'otherPayment'">
    </div> -->
 
</body>
</html>
